.buttons {
  display: flex;
  justify-content: space-between;
}

.saveBtn {
  min-width: 90px;
  height: 36px;
  margin-top: 30px;

  color: white;

  background-color: #366eff;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.saveBtn:active {
  background-color: #1544d9;
}

.cancelBtn {
  composes: saveBtn;

  color: black;

  background-color: white;
  box-shadow: 0 4px 18px rgba(130, 130, 136, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.cancelBtn:active {
  background-color: #dee0e8;
}

.deleteBtn {
  composes: saveBtn;

  background-color: #ce1616;
  box-shadow: 0 4px 18px rgb(248, 155, 155), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.deleteBtn:active {
  background-color: #980909;
}

.addImageBtn {
  composes: saveBtn;

  background-color: #366eff;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.addImageBtn:active {
  background-color: #1544d9;
}

.addBtn {
  width: 150px;
  height: 36px;

  color: white;

  background-color: #366eff;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.addBtn:active {
  background-color: #1544d9;
}

.submitBtn {
  height: 36px;
  margin-top: 30px;

  color: white;

  background-color: #366eff;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.submitBtn:active {
  background-color: #1544d9;
}

.disabledBtn {
  height: 36px;
  margin-top: 30px;

  color: white;

  background-color: #9499ad;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(163, 174, 197, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.submitBackToLoginBtn {
  composes: submitBtn;

  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

.submitBackToLoginBtn:active {
  background-color: #1544d9;
}

.logoutBtn {
  composes: saveBtn;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 130px;

  color: black;

  background-color: white;
  box-shadow: 0 4px 18px rgba(130, 130, 136, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.logoutBtn:active {
  background-color: #dee0e8;
}

.learnBtn {
  width: 150px;
  height: 36px;
  /*margin-top: 30px;*/

  color: white;

  background-color: #366eff;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.learnBtn:active {
  background-color: #1544d9;
}

.selectBtn {
  display: flex;

  width: 100%;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;

  font-size: 20px;
  font-weight: 400;

  background-color: #ffffff;
  border: 0;
}

.selectBtn:hover {
  background-color: #d2d2d2;
}

.selectBtn:active {
  background-color: #b0b0b0;
}

.back {
  width: 260px;
  height: 40px;

  font-size: 18px;
  color: white;

  background-color: #366eff;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.back:active {
  background-color: #1544d9;
}



