.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90vh;

  background-color: #f9f9fa;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 20px 33px;

  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.formContainer span {
  margin-top: 25px;

  font-size: 14px;
  font-weight: 600;
  text-align: center;

  opacity: 0.5;
}

.formContainer h1 {
  margin: 0;
  margin-top: 30px;

  font-size: 26px;
}

.tryLoginBtn {
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  color: #366eff;
  text-decoration-line: underline;
}

.error {
  font-weight: 400;
  color: red;
}

.instruction {
  margin-bottom: 30px;

  line-height: 24px;
  text-align: left !important;
}
