.actions {
  display: flex;
  justify-content: center;
}

.cover {
  width: 120px;
  height: 70px;
}

.cover:hover {
  cursor: pointer;
}

.hover:hover {
  cursor: pointer;
}

.gradeContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
