.container {
    /*padding-bottom: 20px;*/
}

.button {
    min-width: 48px;
    min-height: 40px;

    color: black !important;

    border: 1px solid #E8E8E8 !important;
    border-radius: 2px !important;
}

.container h3{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 11px;
}