.buttons {
    display: flex;
    justify-content: space-between;
}

.saveBtn {
    min-width: 90px;
    height: 36px;
    margin-top: 30px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    color: white;

    background-color: #366eff;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.saveBtn:active {
    background-color: #1544d9;
}

.cancelBtn {
    min-width: 90px;
    height: 36px;
    margin-top: 30px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    color: black;

    background-color: white;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(130, 130, 136, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.cancelBtn:active {
    background-color: #dee0e8;
}

.deleteBtn {
    min-width: 90px;
    height: 36px;
    margin-top: 30px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    color: white;

    background-color: #ce1616;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgb(248, 155, 155), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.deleteBtn:active {
    background-color: #980909;
}

.addImageBtn {
    min-width: 90px;
    height: 36px;
    margin-top: 30px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    color: white;

    background-color: #366eff;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.addImageBtn:active {
    background-color: #1544d9;
}