.mainContainer {
  display: flex;
  flex-direction: column;

  max-width: 80%;
  min-height: 80vh;
  margin: 0 auto;

  text-align: center;
}

.addCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  margin: 30px;

  font-size: 16px;
  font-weight: 500;

  opacity: 0.5;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortCell {
}

.sortCell:hover {
  cursor: pointer;
}

.emptyPack {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-bottom: 20px;
}

.cover {
  width: 180px;
  height: 90px;
  margin-bottom: 20px;
}
