.modalContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 18px;
}

.textContainer {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

.textContainer span{
    margin-top: 5px;

    color: black;
}