.navbarContainer {
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
  padding: 0 170px;

  background: #fcfcfc;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.navBtn {
  width: 150px;
  height: 36px;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: white;

  background-color: #366eff;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.navBtnPacks {
  composes: navBtn;

  background-color: #649b3c;
  box-shadow: none;
}

.navBtnProfile {
  composes: navBtn;

  background-color: #c44d4d;
  box-shadow: none;
}

.navBtn:active {
  background-color: #1544d9;
}

.navAva {
  height: 50px;
  margin-left: 20px;
}

.navAva:hover {
  cursor: pointer;
}
