.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.registerFormBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;

  background-color: #d5d2d2;
}
